<div id="<%= dom_id order %>">

  <div class="fielder fadeIn first">
    <p>
      <strong>下单时间:</strong>
      <%= order.order_time %>
    </p>
  </div>

  <div class="fielder fadeIn first">
    <p>
      <strong>下单用户:</strong>
      <%= order.user.thename %>
    </p>
  </div>

  <div class="fielder fadeIn second item_list_column">
    <div class="list_column">
      <p>商品清单</p>
      <ul>
        <% order.items.each do |item| %>
          <li><%= item.product.title %> &nbsp; x <%= item.quantity %></li>
        <% end %>
      </ul>
      <p>总价：<%= order.total_price %></p>
    </div>
  </div>

  <div class="fielder fadeIn second">
    <p>
      <strong>收件人姓名:</strong>
      <%= order.name %>
    </p>
  </div>

  <div class="fielder fadeIn second">
    <p>
      <strong>收件人邮箱:</strong>
      <%= order.email %>
    </p>
  </div>

  <div class="fielder fadeIn third">
    <p>
      <strong>收货地址:</strong>
      <%= order.address %>
    </p>
  </div>

  <div class="fielder fadeIn fourth">
    <p>
      <strong>支付类型:</strong>
      <%= order.pay_type %>
    </p>
  </div>

  <% if user_admin? %>
    <% if order.order_status == Order::ORDER_STATUSES[0] %>
      <div class="fadeIn fourth">
        <%= form_for @order do |t| %>
          <%= t.hidden_field :order_status, :value=>Order::ORDER_STATUSES[1] %>
          <%= t.submit "发货" %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <% if order.order_status == Order::ORDER_STATUSES[1] %>
      <div class="fadeIn fourth">
        <%= form_for @order do |t| %>
          <%= t.hidden_field :order_status, :value=>Order::ORDER_STATUSES[2] %>
          <%= t.submit "确认收货" %>
        <% end %>
      </div>
    <% end %>
  <% end %>

  

  

</div>


