<div class="main_store">

    <% if notice %>
    <p id="notice"><%= notice %></p>
    <% end %>

    <div class='store_bar'>
        <div>
            商品列表
        </div>
    </div>

    <div class='store_content'>
        <% @products.each do |product| %>
            <div class="entry">
                <div class='entry_image'>
                    <%= image_tag(product.image_url) %>
                </div>
                <div class='entry_info'>
                    <div class="title_line"><%= product.title %></div>
                    <div class='des_line'>
                        <div class='des_content'>
                            <%= sanitize(product.description) %>
                        </div>
                    </div>
                    <div class="price_line">
                        <span class="price">价格：<%= product.price %> 元</span>
                        
                    </div>
                </div>
                <div class='entry_option'>
                    <div class="cart_line">
                        <%= button_to '添加到购物车',items_path(product_id: product) %>
                    </div>
                    <div class="cart_line">
                        <%= button_to '添加到收藏夹',items_path(product_id: product) %>
                    </div>
                    <div class="edit_line">
                        <%= button_to '编辑商品信息',edit_product_path(product) ,method: :get %>
                    </div>
                </div>
                <div class="entry_button">
                    <%= button_to '查看商品详情', product , method: :get %>
                </div>
            </div>
        <% end %>
    </div>
</div>