<div id="<%= dom_id item %>" class="item_one_line">
  <div class='item_image'>
      <%= image_tag(item.product.image_url) %>
  </div>
  <div class='item_info'>
      <div class="title_line"><%= item.product.title %></div>
      <div class='des_line'>
          <div class='des_content'>
              <%= sanitize(item.product.description) %>
          </div>
      </div>
  </div>
  <div class='item_option'>
      <div class="item_num">
          购买数量：<%= item.quantity %>
      </div>
  </div>
  <div class="item_button">
      <%= button_to '查看商品详情', item.product , method: :get %>
  </div>
</div>
