<div id="<%= dom_id product %>" class="product_main_one">

  <div class="product_info">
    <div class="info_image">
      <%= image_tag(product.image_url) %>
    </div>
    <div class="info_lines">
      <div class="title_line">
        <%= product.title %>
      </div>
      <div class="type_line">
        <%= product.product_type %>
      </div>
      <div class="price_line">
        <span class="price">价格：<%= product.price %> 元</span>
      </div>
    </div>

  </div>

  <div class="product_description">
    <div class="title">
      商品详情
    </div>
    <%= product.description %>
  </div>
  

</div>
