<div id="<%= dom_id product %>">
  <p>
    <strong>Title:</strong>
    <%= product.title %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= product.product_type %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= image_tag(product.image_url, :class => 'list_image') %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

</div>
